<!doctype html>
<html ng-app="jobseeker">
<head>
	<title>Profile</title>
	<meta charset="utf-8" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="assets/bootstrap.min.css">
	<link rel="stylesheet" href="assets/custom.css">
	<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
	<script src="assets/jquery-3.1.1.min.js"></script>
	<script src="assets/bootstrap.min.js"></script>
</head>
<body>
	<div ng-include src="'header.html'"></div>
	<div ng-controller="jobSeekerController">
	<div class="container">
		<div class="card">
			<div class="card-block bg-faded">
				<h4 class="card-title">{{ profile.name }}</h4>
				<h6 class="card-subtitle text-muted">{{ profile.location }}</h6>
			</div>
			<div class="card-block row">
				<div class="col-lg-2">
					<img src="assets/avatar.png" class="img-thumbnail">
				</div>
				<div class="col-lg-5 text-justify">
					<h5><strong>About me</strong></h5>
					<hr>
					<span class="display-6">{{ profile.description }}</span>
				</div>
				<div class="col-lg-5">
					<h5><strong>Skills</strong></h5>
					<hr>
					<span ng-repeat="skill in profile.skills" class="tag tag-success">{{ skill }}</span>
					<br><br>
					<h5><strong>Contact</strong></h5>
					<hr>
					<i class="fa fa-envelope" aria-hidden="true"></i> <code class="display-6">{{ profile.email }}</code><br>
					<i class="fa fa-phone" aria-hidden="true"></i> <code class="display-6">{{ profile.number }}</code>
				</div>
			</div>
			<div class="card-block">
				<h5><i class="fa fa-graduation-cap" aria-hidden="true"></i> <strong>Education</strong></h5>
				<hr>
				<div ng-repeat="education in profile.education" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="card">
						<div class="card-header" role="tab" id="heading{{$index}}">
							<h6 class="mb-0">
								<a class="collapsed text-black" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">{{ education.school }}</a>
							</h6>
						</div>
						<div id="collapse{{$index}}" class="collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
							<div class="card-block">
								<div class="row">
									<div class="col-lg-3 text-justify">
										<h6><i class="fa fa-university" aria-hidden="true"></i> <strong>Education Attainment</strong></h6>
										<span class="display-6">{{ education.attainment }}</span>
									</div>
									<div class="col-lg-2 text-justify">
										<h6><i class="fa fa-calendar" aria-hidden="true"></i> <strong>From</strong></h6>
										<span class="display-6"> {{ education.start  }} </span>
									</div>
									<div class="col-lg-2 text-justify">
										<h6><i class="fa fa-calendar" aria-hidden="true"></i> <strong>To</strong></h6>
										<span class="display-6"> {{ education.end }}</span>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 text-justify">
										<h6><i class="fa fa-trophy" aria-hidden="true"></i> <strong>Achievements/Description</strong></h6>
										<span class="display-6">
											{{ education.description }}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-block">
				<h5><i class="fa fa-briefcase" aria-hidden="true"></i> <strong>Work Experience</strong></h5>
				<hr>
				<div ng-repeat="work in profile.work" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="card">
						<div class="card-header" role="tab" id="heading{{ $index }}">
							<h6 class="mb-0">
								<a class="collapsed text-black" data-toggle="collapse" data-parent="#accordion" href="#work{{$index}}" aria-expanded="true" aria-controls="work{{$index}}">{{work.company}}</a>
							</h6>
						</div>
						<div id="work{{$index}}" class="collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
							<div class="card-block">
								<div class="row">
									<div class="col-lg-3 text-justify">
										<h6><i class="fa fa-university" aria-hidden="true"></i> <strong>Job Title</strong></h6>
										<span class="display-6">{{ work.title }}</span>
									</div>
									<div class="col-lg-2 text-justify">
										<h6><i class="fa fa-calendar" aria-hidden="true"></i> <strong>From</strong></h6>
										<span class="display-6">{{ work.start }}</span>
									</div>
									<div class="col-lg-2 text-justify">
										<h6><i class="fa fa-calendar" aria-hidden="true"></i> <strong>To</strong></h6>
										<span class="display-6">{{ work.end }}</span>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-lg-6 text-justify">
										<h6><i class="fa fa-trophy" aria-hidden="true"></i> <strong>Achievements/Description</strong></h6>
										<span class="display-6">
											{{ work.description }}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include src="'footer.html'"></div>
	<script src="assets/angular.min.js"></script>
	<script src="controller/jobseeker.js"></script>
</body>

</html>
